@card-prefix: ~"@{css-prefix}card";

.@{card-prefix} {

  &-mf {
    position: relative;
    width: 18.75rem; height: 37.5rem;
    cursor: pointer;
    border: 0.125rem solid black;
    text-align: center;

    & .card-image {
      width: 100%;height: 66.7%;
      overflow: hidden;
    }

    & .card-image .img {
      width: 100%;height: 100%;
      background-image: url(@sample-img);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s ease;
    }

    &:hover .card-image .img{
      transform: scale(1.1);
    }

    & .card-content {
      font-family:@font-family;
    }

    & .card-content .card-title{
      margin: 1.25rem auto;
      font-weight: bold;
      font-size: @font-size-large;
      color: rgb(189,91,90);
    }

    & .card-content .para{
      font-size: @font-size-small;
      line-height: 1.4;
      margin: 0 0.625rem;
    }


    & .card-button {
      position: absolute;
      top: 100%;left: 50%;
      width: 3.75rem; height: 3.75rem;
      transform: translate(-50%,-50%);
      border-radius: 1.875rem;
      background: rgb(68,19,22);
    }

    &:hover .card-button svg {
      animation: symbolmove 1s infinite;
      animation-timing-function: ease-in-out;
    }

    @keyframes symbolmove {
      0%,100% {
        transform: translateX(-0.1875rem);
      }

      50% {
        transform: translateX(0.1875rem);
      }
    }
  }

  &-ko {
    position: relative;
    width: 25rem; height: 37.5rem;
    background: red;

    & .card-content {
      position: absolute;
      top: 0;left: 0;
      width: 100%; height: 100%;
      background: white;
      font-family:@font-family;
      transition: all 0.5s ease;
    }

    &:hover .card-content {
      transform: translate(-0.625rem,-0.625rem);
    }

    & .card-content .category {
      display: inline-block;
      position: absolute;
      left: 10%; top: -2%;
      width: 6.25rem;
      padding: 0.3125rem 0;
      background: black;
      color: white;
      text-align: center;
    }

    & .card-content .image {
      position: relative;
      width: 80%; height: 40%;
      background: green;
      margin: 10% 10% 0 10%;
      background: url(@sample-img) center center no-repeat;
      background-size: cover;
    }

    & .contents {
      position: relative;
      width: 80%; height: 40%;
      margin: 10% 10% 0 10%;

    }

    & .contents .contents-title {
      font-size: @font-size-large;
    }

    & .contents .contents-intro {
      font-size: @font-size-small;
      line-height: 1.4;
    }
  }

  &-gh {
    & .card-content {
      display: block;
      position: relative;
      cursor: pointer;
      width: 15rem; height: 22.5rem;
      background-image: url(@sample-img);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s ease;
      animation-delay: 1s;
      animation-fill-mode: both;
    }

    & .card-content:before {
      position: absolute;
      top: 0.125rem;
      left: 0.125rem;
      right: 70%;
      bottom: 70%;
      content: "";
      border-top: transparent 0.0625rem solid;
      border-left: transparent 0.0625rem solid;
      transition: all 0.3s ease;
    }

    & .card-content:after {
      position: absolute;
      top: 70%;
      left: 70%;
      right: 0.125rem;
      bottom: 0.125rem;
      content: "";
      border-bottom: transparent 0.0625rem solid;
      border-right: transparent 0.0625rem solid;
      transition: all 0.5s ease;
    }

    & .card-content:hover {
      transform: translateY(-0.3125rem);
    }

    & .card-content:hover:before {
      right: 0.125rem;
      bottom: 0.125rem;
      border-top: white 0.0625rem solid;
      border-left: white 0.0625rem solid;
    }

    & .card-content:hover:after {
      top: 0.125rem;
      left: 0.125rem;
      border-bottom: white 0.0625rem solid;
      border-right: white 0.0625rem solid;
    }

    & .card-content .text {
      position: absolute;
      top: -1.25rem;right: 0;left: 0;
      text-align: center;
      font-weight: bolder;
      letter-spacing: 0.1875rem;
    }

    & .card-content .text span {
      display: inline-block;
      transition: all .3s ease;
    }

    & .card-content:hover .text span.txt1 {
      animation: up-down .5s .05s;
    }

    & .card-content:hover .text span.txt2 {
      animation: up-down .5s .15s;
    }

    & .card-content:hover .text span.txt3 {
      animation: up-down .5s .25s;
    }

    & .card-content:hover .text span.txt4 {
      animation: up-down .5s .35s;
    }

    & .card-content:hover .text span.txt5 {
      animation: up-down .5s .45s;
    }

    & .card-content:hover .text span.txt6 {
      animation: up-down .5s .55s;
    }

    @keyframes up-down {
      0%, 100%{
        transform: translateY(0);
      }

      50% {
        transform: translateY(-0.3125rem);
      }
    }
  }

  &-cc {

    position: relative;
    width: 25rem; height: 37.5rem;
    background: white;

    & .container {
      position: relative;
      height: 85%; width: 90%;
      margin: 5% 5% 0;
      box-shadow: 0 0 1.25rem rgba(32,14,17,.15);
    }

    & .container .image{
      position: relative;
      height: 60%;
    }

    & .container .image .img {
      position: relative;
      height: 100%; width: 100%;
      background: url(@sample-img) center center no-repeat;
      background-size: cover;
    }
    & .container .image .icon{
      z-index: 3;
      position: absolute;
      top: 100%;left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 4.375rem; height: 4.375rem;
      border-radius: 2.1875rem;
      background: #ff8c85;
    }

    & .container .card-content{
      position: relative;
      left: 0;
      height: 40%;
      padding: 0 1.875rem;
      text-align: center;
      font-family:@font-family;
    }

    & .container .card-content h5 {
      margin: 2.5rem 0 0;
      font-family: greycliff-bold;
      font-weight: 400;
      font-size: 200%;
      letter-spacing: 0.125rem;
      line-height: 1;
      text-transform: uppercase;
    }

    & .container .card-content h5:after {
      content: "";
      width: 2.5rem;
      height: 0.0625rem;
      background-color: #cdcdcd;
      position: relative;
      display: block;
      margin: 1.125rem auto .875rem;
    }

    & .container .card-content p {
      color: #b9b9b9;
      line-height: 1.4;
      // font-size: 80%;
      font-size: @font-size-tiny;
    }

    & .container .card-content .btn {
      z-index: 2;
      position: absolute;
      bottom: 0; left: 50%;
      transform: translate(-50%,0);
      width: 70%;height: 30%;
      cursor: pointer;
      background: #ff8c85;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-size: 80%;
      letter-spacing: 0.1875rem;
    }

    & .container .card-content .btn:before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;left: 0;right: 0;bottom: 0;
      transition: all .3s ease;
      box-shadow: 0 0 1.25rem rgba(32,14,17,.3);
    }

    & .container .card-content .btn:after {
      z-index: -2;
      content: '';
      position: absolute;
      top: -0.625rem;left: -0.625rem;right: -0.625rem;bottom: -0.625rem;
      background-image: linear-gradient(127deg,#ff79a2 -35%,#ff9f68 130%);
    }

    & .card-content .btn:hover:before {
      top: -0.625rem;left: -0.625rem;right: -0.625rem;bottom: -0.625rem;
    }

    & .card-content .btn .icon {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 50%; height: 100%;
      transition: all .3s ease;
    }

    & .card-content .btn .label {
      position: absolute;
      left: 50%;
      display: inline-block;
      width: 50%;height: 100%;
      transition: all .3s ease;
    }

    & .card-content .btn .label:before {
      content: "";
      position: absolute;
      top: 50%;left: 0;
      width: 0.0625rem;
      height: 80%;
      background-color: hsla(0,0%,100%,.3);
      transform: translateY(-50%);
      transition: all .35s cubic-bezier(.8,0,.2,1);
    }

    & .card-content .btn .label .text{
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    & .btn:hover .icon {
      transform: translateX(5%);
    }

    & .btn:hover .label {
      transform: translateX(-5%);
    }

  }

  &-gh-2 {

    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    width: 33.75rem; height: 22.5rem;

    & img {
      width: 100%;
      transition: all 0.3s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }

    & .overlay {
      position: absolute;
      top:0;right:0;bottom:0;left:0;
      text-align: center;
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.3s ease;

      background: #ff8c85 url('data:image/svg+xml,\
        <svg xmlns="http://www.w3.org/2000/svg" \
           width="6.25rem" height="6.25rem" \
           fill-opacity=".15"> \
        <rect x="50" width="50" height="50" /> \
        <rect y="50" width="50" height="50" /> \
        </svg>');
      background-size: 1.875rem 1.875rem;
    }

    &:hover .overlay {
      opacity: 0.9;
      transform: scale(1);
    }

    & .caption {
      display: inline-block;
      position: relative;
      top: 50%;
      transform: scale(1) translateY(-20%);
      transition: all 0.3s ease;
    }

    &:hover .caption {
      transform: scale(1.2) translateY(-50%);
    }
  }

  &-kz {

    position: relative;
    width: 25rem; height: 25rem;
    background: red;
    cursor: pointer;

    & .container {
      position: relative;
      height: 100%; width: 100%;
      background: url(@sample-img) center center no-repeat;
      background-size: cover;
      font-family: @font-family;
    }

    & .container:before {
      content:'';
      position: absolute;
      top: 0;left: 0;bottom: 0;right: 0;
      background: #d87a7b;
      opacity: 0;
      transition: all .3s ease;
    }

    & .container:hover:before {
      top: 5%;left: 5%;bottom: 5%;right: 5%;
      opacity: .6;
    }

    & .container .card-title {
      position: absolute;
      top: 40%;bottom: 0; left: 0; right: 0;
      text-align: center;
      color: white;
      // font-size: 300%;
      font-size: @font-size-bigger;
      transition: all .3s ease;
    }

    & .container:hover .card-title {
      top: 20%;
      // font-size: @font-size-large;
    }

    & .container .card-content {
      position: absolute;
      top: 10%; bottom: 10%; left: 10%; right: 10%;
      background: transparent;
      opacity: 0;
      text-align: center;
      color: white;
      // font-size: 150%;
      font-size: @font-size-larger;
      padding: 1.25rem;
      padding-top: 8.125rem;
      transition: all .3s ease;
    }

    & .container:hover .card-content {
      opacity: 1;
    }

    & .container .icon {
      position: absolute;
      bottom: 20%; left: 30%;
      width: 2.5rem;height: 2.5rem;
      background: transparent;
      opacity: 0;
      transition: all .3s ease;
    }

    & .container:hover .icon {
      opacity: 1;
      left: 45%;
    }
  }

  &-md {

    position: relative;
    width: 37.5rem; height: 25rem;

    & .image {
      position: absolute;
      top: 0;bottom: 0;left: 0;right: 0;
      background: url(@sample-img) center center no-repeat;
      background-size: cover;
      z-index: 1;
    }

    & .overlay {
      position: absolute;
      top: 0.3125rem;bottom: 0.3125rem;left: 0.3125rem;right: 0.3125rem;
      background: white;
      z-index: 2;
      opacity: 0;
      font-family: @font-family;
      transition: all .3s ease;
    }

    &:hover .overlay {
      opacity: 1;
    }

    & .overlay .card-title {
      position: absolute;
      font-size: @font-size-big;
      top: 40%;left: 50%;
      max-width: 50%;
      text-transform: none;
      text-align: center;
      text-decoration: underline;
      transform: translate(-50%,-50%);
    }

    & .overlay .card-content {
      position: absolute;
      bottom: 10%;left: 50%;
      transform: translate(-50%,-50%);
      font-size: @font-size-middle;
    }

  }

  &-og {

    cursor: pointer;
    position: relative;
    width: 80%;
    min-height: 12.5rem;
    background: grey;

    & .mask {
      position: absolute;
      width: 90%;height: 0;
      top: 0;
      transform: translate(5%,5%);
      background: white;
      opacity: 0;
      transition: all 1s ease;
      z-index: 1;
    }

    &:hover .mask{
      opacity: .7;
      height: 90%;
    }

    & .card-title {
      position: absolute;
      top: 50%;left: 50%;
      width: 90%;
      font-size: 2rem;
      font-weight: bold;
      color: white;
      text-align: center;
      transform: translate(-50%,-50%);
      transition: all 1s ease;
      z-index: 2;
    }

    &:hover .card-title {
      top: 5%;
      transform: translateX(-50%);
      color: black;
    }


    & .card-content {
      position: absolute;
      bottom: 0%; left: 50%;
      width: 90%;
      opacity: 0;
      font-size: 1.5rem;
      font-weight: bold;
      color: grey;
      text-align: center;
      vertical-align: baseline;
      transform: translate(-50%,0);
      transition: all 1s ease;
      z-index: 3;
    }

    &:hover .card-content {
      bottom: 20%;
      color: black;
      opacity: 1;
    }

    @media screen and (max-width: 37.5rem) {
      & .mask {
        display: none;
      }

      & .card-content {
        display: none;
      }

      & .card-title {
        top: 50%;
        transform: translate(-50%,-50%);
        color: white;
      }
    }
  }
}
